{% extends "quotes/base.html" %}

{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif%}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {{ form.non_field_errors }}
</div>
{% endif%}

{% block content %}
<h1>Add new quote</h1>
<form action="{% url 'quotes:add_quote1' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">New Quote:</label>
        {{form_quote.new_quote}}
    </div>
    <span>{{form_quote.errors.new_quote}}</span>
    <div class="mb-3">
        <label class="form-label">Choose an Author</label>
        {{form_quote.author_choose}}
    </div>

    <div class="mb-3">
        <label class="form-label">Choose a Tag</label>
        {{form_tag.tag_choose}}
    </div>
    <p>Or</p>
    <div class="mb-3">
        <label class="form-label">Enter a new Tag</label>
        {{form_tag.new_tag}}
    </div>
    <span>{{form_tag.errors.new_tag}}</span>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
